p2 {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
  color: #333;
  font-family: initial;
  line-height: 1.5;
}
article section div {
  text-align: center;
  padding-top: 50px;
}